@import 'styles/mixins.css';


.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.highlight {
  font-size: 72px;
}

.images {
  @apply --flex-row-wrap;
}

.intheback {
  height: 480px;
  width: 480px;
  background: url('images/pup2.jpg') no-repeat;
}

