@import 'styles/mixins.css';


.container {
  width: 500px;

  @apply --flex-row;
  justify-content: space-evenly;
}

.intro {
  @apply --typewriter;
}

.things {
  @apply --highjack;
  @apply --flex-column;

  text-align: center;
  font-size: 25px;
}

.index-0 {
  background-color: yellow;
}
.index-1 {
  background-color: blue;
}
.index-2 {
  background-color: red;
}
.index-3 {
  background-color: green;
}
