@font-face {
  font-family: 'Butcher-Factory';
  src: url('../fonts/Butcher_Factory.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fabulous-Orchestra';
  src: url('../fonts/Fabulous_Orchestra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Highjack-Bold';
  src: url('../fonts/Highjack_Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Highjack-Bold-Italic';
  src: url('../fonts/Highjack_Bold_Italic.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Highjack-Regular';
  src: url('../fonts/Highjack_Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Highjack-Regular-Italic';
  src: url('../fonts/Highjack_Regular_Italic.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Modern-Typewriter';
  src: url('../fonts/Modern_Typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
