@import './fonts.css';


:root {
  --font-optimizing: {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  --fabulous: {
    @apply --font-optimizing;
    font-family: 'Fabulous-Orchestra';
    font-style: normal;
    font-weight: normal;
  }

  --butcher: {
    @apply --font-optimizing;
    font-family: 'Butcher-Factory';
    font-weight: normal;
    font-style: normal;
  }

  --highjack: {
    @apply --font-optimizing;
    font-family: 'Highjack-Regular';
    font-weight: normal;
    font-style: normal;
  }

  --typewriter: {
    @apply --font-optimizing;
    font-family: 'Modern-Typewriter';
    font-weight: normal;
    font-style: normal;
  }

  --flex-row: {
    display: flex;
    flex-flow: row nowrap;
  }

  --flex-row-wrap: {
    display: flex;
    flex-flow: row wrap;
  }

  --flex-column:  {
    display: flex;
    flex-flow: column nowrap;
  }

  --center: {
    @apply --flex-row;
    justify-content: center;
    align-items: center;
  }

  --left: {
    @apply --flex-row;
    justify-content: flex-start;
    align-items: center;
  }
}
