html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root-entry {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

  font-size: 16px;
  background-color: ghostwhite;
}

#root-entry > div {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
